<div class='entry-content'>
  <h2 class='normal'>Create a new Workshop</h2>
  <p>All fields below are optional</p>
</div>

<% if params[:workshop_idea] || !current_user.super_user? %>
  <%= render 'form',
             workshop: @workshop,
             url: '/workshops/share_workshop_idea', inactive: true %>
<% else %>
  <%= render 'form', workshop: @workshop, url: '/workshops' %>
<% end %>
