@import "tailwindcss";
@import "./pagination.css";

@source "../../views/**/*.html.erb";
@source "../../javascript/**/*.js";
@source "../../helpers/**/*.rb";

@safelist bg-blue-500;
@safelist bg-green-500;
@safelist bg-purple-100;
@safelist bg-purple-200;
@safelist bg-purple-500;
@safelist bg-gray-200;

@theme {
  --color-primary: #063b8d;
  --color-secondary: var(--color-gray-500);
  --color-danger: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-info: var(--color-blue-500);
  --color-success: var(--color-green-500);
}

@import "./components/buttons";
