form.simple_form .form-check-input + .form-check-label {
    height: auto !important;
    width: auto !important;
}

form.simple_form select.form-select {
    height: auto;
    border-radius: 0px;
    border: 1px solid #ccc;
}